body {
  background-image: url('bkg.GIF');
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  margin: 20px 0;
}
h2, h3 {
  margin: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
footer {
  margin-top: 40px;
  font-size: small;
}

main nav a {
  display: block;
  position: relative;
}

main nav a:nth-child(1) {
  margin-left: 0px;
}

main nav a:nth-child(2) {
  margin-left: 20px;
}

main nav a:nth-child(3) {
  margin-left: 40px;
}

main nav a:nth-child(4) {
  margin-left: 60px;
}

main nav a:nth-child(5) {
  margin-left: 80px;
}
