body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar { /* убирает полосу прокрутки справа*/
  width: 0;
}

:root {
  --index: calc(1vw + 1vh);
}

.no-script-text {
  color: aliceblue;
}

.main-head {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100px;
  align-items: center;
  backdrop-filter: blur(4px);
  background: linear-gradient(180.00deg, rgb(29, 29, 29) 0%,rgba(29, 29, 29, 0) 115%);
  z-index: 1;
}

.container-main-head {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.head-text-logo {
  color: rgb(255, 255, 255);
  font-family: "Oxygen", sans-serif;
  font-size: calc(var(--index) * 1.2);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.head-text-account {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.head-text-read {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.dropdown {
  position: relative;
  z-index: 2; /* Для того, чтобы контент был поверх остальных элементов */
}

.dropdown-content {
  position: absolute;
  margin-top: 15px;
  align-items: center;
  justify-items: center;

  top: 200%; /* Контент появится под кнопкой */
  left: -35px;
  width: 200%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.77);
  border-radius: 15%;
  transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.5s ease;
  transform: translateY(-20px); /* Начальная позиция, немного выше */
}

.dropdown-content.show {
  opacity: 1;
  max-height: 300px; /* Примерная максимальная высота */
  transform: translateY(0); /* Опускаем контент в его позицию */
}

.dropdown-content a {
  align-items: center;
  justify-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  padding: 12px  16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  color: #464C64;
}

.head-text-look {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.head-link {
  text-decoration: none;
  z-index: 1;
}

.head-link:hover {
  color: #464C64;
}

.video-header {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Чтобы видео всегда занимало весь экран */
  z-index: -1; /* Чтобы видео было на фоне */
}

.overlay-text {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: calc(var(--index) * 1.5);
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-left: 50%;
  z-index: 1; /* Текст на переднем плане */
}


.video-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  background-color: black;
  margin-top: -5px;
}

.half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.first-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.left-text {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(90.00deg, rgb(128, 134, 157) 0%,rgba(155, 146, 215, 0) 100%);
}

.left-text p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
}

.right-image {
  box-shadow: inset 29px 0px 38px 0px rgba(0, 0, 0, 0.81);
  background: url(earth);
  justify-content: center;
  margin-bottom: 30px;
}

.right-image img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.container {
  height: 100%;
  width: 100%;
}

.second-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.left-image img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.left-image {
  box-shadow: inset 29px 0px 38px 0px rgba(0, 0, 0, 0.81);
  background: url(earth);
  justify-content: center;
  margin-bottom: 30px;
}

.right-text {
  background: linear-gradient(270.00deg, rgba(117, 148, 160, 0.41) 0.757%,rgba(117, 148, 160, 0) 100%);
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.right-text p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(var(--index) * 1.5);
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: right;
}

.look-the-sky .left-text {
  background: linear-gradient(90.00deg, rgb(4, 33, 62) 0.22%,rgba(121, 136, 158, 0.04) 98.987%);
}

.footer-container {
  width: 100vw;
  height: 516px;
  
}

.quote {
  display: flex;
  justify-content: center;
  color: white;
  font-size: calc(var(--index) * 0.9);
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
  background: linear-gradient(0.00deg, rgb(196, 196, 196) 0%,rgba(196, 196, 196, 0) 91.146%);
}

.krovan-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Oxygen", sans-serif;
  font-size: calc(var(--index) * 1.8);
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: left;
}

/*fonts*/

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}